[submodule "OpenGLCore/vendor/imgui"]
	path = OpenGLCore/vendor/imgui
	url = https://github.com/ebender17/imgui.git
	branch = docking
[submodule "OpenGLCore/vendor/GLFW"]
	path = OpenGLCore/vendor/GLFW
	url = https://github.com/ebender17/glfw.git
[submodule "OpenGLCore/vendor/glm"]
	path = OpenGLCore/vendor/glm
	url = https://github.com/icaven/glm.git
[submodule "OpenGLCore/vendor/spdlog"]
	path = OpenGLCore/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
